allow cameraserver vendor_file:file { read }; 
allow cameraserver vendor_file:file { open }; 
allow cameraserver vendor_file:file { getattr };
allow cameraserver vendor_file:file { execute };
